/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 25px;
}

.content__body {
  text-align: center;
}

.content {
  padding: 100px 0px 20px;
}

.wrapper:nth-child(even) {
  background: #f8f8f8;
}

.eightypx {
  height: 80px;
}
/*-------------------------------*/

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  background-color: #fff;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

li {
  padding: 31px 0px;
}

li a {
  color: #828282;
  text-decoration: none;
}

ul li:hover {
  text-decoration: underline;
}

.header__list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

#anchor0 [href="#anchor0"] {
  color: black;
}

.header__burger {
  display: none;
}

.header__body {
  border-bottom: solid 1px #828282;
}

@media (max-width: 767px) {
  .header {
    height: 66px;
  }
  .eightypx {
    height: 66px;
  }
  .header__body {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 33px;
    height: 20px;
    z-index: 3;
    background: #fff;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 66px 0 0 0;
  }
  .header__menu.hidden {
    top: 0;
  }
  .header__list {
    display: block;
    padding-left: 26px;
  }
  .header__list li {
    font-size: 34px;
    padding: 0;
    margin-bottom: 68px;
  }
  .header__list li:last-child {
    margin-bottom: 0;
  }
  /* Home */
  div.home__content {
    padding-top: 0;
  }
  .home__lang-switch {
    display: none;
  }
  .home__items {
    flex-direction: column;
    text-align: left;
  }
  .content {
  padding: 66px 0px 20px;
  }
}

/*-------------------------------*/
.content__body {
  margin-top: 
}

.home__content {
  padding-top: 20px;
}
.home__items {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}
h1 {
  font-size: 47px;
  font-weight: bold;
  line-height: 58px;
}
.home__text {
  padding-top: 70px;
  text-align: left;
}
.home__lang-switch {
  font-weight: bold;
  /*transform: rotate(-90deg);
  height:100px;
  padding-top: 80px;*/
}
.home__items span {
  color: #828282;
}
.home img.desktop {
  width: 100%;
  max-height: 410.58px;
  min-height: 350px;
  margin-top: 40px;
  object-fit: cover;
}
.home img.mobile {
  display: none;
}

@media (max-width: 365px) {
  .home img.desktop {
    display: none;
  }
  .home img.mobile {
    display: block;
    max-width: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .home__text {
    padding-top: 20px;
  }
}
/*-------------------------------*/
h2 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 50px;
}
.about__text {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*-------------------------------*/
.skills__row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 840px) {
  .skills__row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skills__column {
    flex-basis: 34%;
  }
}

@media (max-width: 500px) {
  .skills__column {
    flex-basis: 51%;
  }
}

.skills__column {
  padding: 80px 0 0;
}

.item-skills__title {
  font-size: 14px;
  font-weight: bold;
  color: #828282;
  padding-top: 25px;
  padding-bottom: 40px;
}
/*-------------------------------*/
.portfolio p {
  text-decoration: underline;
  margin-top: 45px;
}
.portfolio img {
  width: 100%;
}
.portfolio__items {
  margin-top: 100px;
}
/*-------------------------------*/
.contacts__button {
  background-color: black;
  color: #fff;
  padding: 10px 30px;
  border-radius: 21px;
}
.contacts__text {
  margin-bottom: 42px;
}
.contacts__links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 45px;
}
@media (max-width: 767px){
  .contacts__links {
    width: 100%;
    max-width: 315px;
  }
}
.contacts__footer {
  color: #828282;
}