/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
}
.content {
  max-width: 66%;
  margin: 0 auto;
  text-align: center;
}
/*-------------------------------*/
.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-weight: bold;
  border-bottom: solid 1px #828282;
}
li a {
  color: #828282;
}
#anchor0 [href="#anchor0"] {
  color: black;
}
ul li:hover {
  text-decoration: underline;
}
/*-------------------------------*/
.home__content {
  padding: 40px 0 100px 0;
}
.home__items {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}
h1 {
  font-size: 47px;
  font-weight: bold;
  line-height: 58px;
}
.home p {
  padding-top: 70px;
  text-align: left;
}
.home__lang-switch {
  font-weight: bold;
  transform: rotate(-90deg);
  height:100px;
  padding-top: 80px;
}
.home__items span {
  color: #828282;
}
.home img {
  width: 100%;
  margin-top: 40px;
}
/*-------------------------------*/
.last-four {
  padding: 100px 0;
}
.about, .portfolio {
  background-color: #f8f8f8;
}
h2 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 50px;
}
.about__content div {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*-------------------------------*/
.skills__row {
  display: flex;
  justify-content: space-between;
}
.skills__text {
  margin-bottom: 80px;
}
.item-skills__title {
  font-size: 14px;
  font-weight: bold;
  color: #828282;
  padding-top: 25px;
  padding-bottom: 40px;
}
/*-------------------------------*/
.portfolio p {
  text-decoration: underline;
  margin-top: 45px;
}
.portfolio img {
  width: 100%;
}
.portfolio__items {
  margin-top: 100px;
}
/*-------------------------------*/
.contacts__button {
  background-color: black;
  color: #fff;
  padding: 10px 30px;
  border-radius: 21px;
}
.contacts__text {
  padding-bottom: 42px;
}
.contacts__links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 45px;
}
.contacts__footer {
  color: #828282;
}