/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
  width: 100%;
  /*background: lightgrey;*/
  /*border: solid 1px;*/
  background-color: #ffffff;
}
div.block_1{
  margin: 0 auto;
  border-bottom: solid 1px #828282;
}
div.block_1 a{
  color: #828282;
}
div.block_1 a:hover{
  color: #070707;
}
/* Не уверен что это нужно*/
#home{
  color: #070707;
}
.block{
  padding: 0 16%;
}
.block_1 ul{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-weight: bold;
}

.block_1 li{
  /*border: solid 1px;
  /*background: aqua;*/
  color: #828282;
}
.block_2 ul{
  display: flex;
  /*background: lightgreen;*/
  /*border: solid 1px;*/
  justify-content: space-between;
  height: 160px;
  align-items: center;
}
.block_2 li{
  /*border: solid 1px;*/
  width: 200px;
  height: 100px;
  color: black;
}
#name{
  font-size: 48px;
  font-weight: 700;
}
#description p{
  /*border: solid 1px;*/
  width: 170px;
  margin: 50px auto auto auto;
}
#lang{
  transform: rotate(-90deg);
  width:100px;
  height:100px;
  padding-top: 80px;
}
.block_2 img{
  width: 100%;
  margin-bottom: 100px;
}
/*.first{
  height: 650px;
}*/
div.second{
  /*border: solid 1px;*/
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}
h2{
  text-align: center;
  /*border: solid 1px;*/
  font-weight: bold;
  font-size: 34px;
}
.second div{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.second p{
  /*display: flex;
  border: solid 1px;
  justify-content: center;*/
  text-align: center;
}
.block_3{
  padding: 0 16%;
}
.block_31{
  text-align: center;
}
.block_31 h2{
  padding-top: 91px;
}
#skills{
  margin-top: 69px;
}
.instr{
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 111px;
}
.each{
  text-align: center;
}
.ap_2{
  font-size: 14px;
  font-weight: bold;
  color: #828282;
  padding-top: 25px;
  padding-bottom: 40px; 
}
.block_4{
  background: #f6f6f6;
  text-align: center;
}
.block_4 h2{
  padding-top: 110px;
}
.block_4 h3{
  text-decoration: underline;
  padding-top: 45px;
  padding-bottom: 100px;
}
#img{
  padding: 400px;
}
#pic{
  padding-top: 50px;
}
.block_5{
  text-align: center;
}
#send{
  background-color: black;
  color: #fff;
  padding: 10px 30px;
  border-radius: 21px;
}
.block_5 h2{
  padding-top: 115px;
  padding-bottom: 20px;
}
#last1{
  padding-top: 20px;
  padding-bottom: 42px;
}
.block_5 div{
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 45px;
}
#last2{
  color: #828282;
  padding-bottom: 120px;
}
/* Тень
.second, .block_4{
  box-shadow: 0 0 40px 1px rgb(0, 0, 0, 0.3); 
}*/